.actions {
}
.button-back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  span {
    display: inline-block;
    color: turquoise;
    margin-left: 10px;
  }
}
:host {
  .button-solid {
    --box-shadow: none !important;
    --color: gray;
    text-transform: capitalize;
  }
  ion-toolbar {
    --background: transparent;
  }
  ion-content.actions-content__wrapper {
    --padding-start: 40px;
    --padding-end: 40px;
  }
}
.button-back__wrapper {
  position: static;
}
ion-title.title-large {
  text-align: center;
  background: transparent;
  color: black;
  font-size: 30px;
}
ion-title.toolbar-background {
  background: transparent;
}
.actions-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
  p {
    margin-left: 20px;
  }
}
ion-card {
  margin: 20px 0;
}
.actions-void {
  height: 50vh;
}
