.button-back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  span {
    display: inline-block;
    color: turquoise;
    margin-left: 10px;
  }
}
:host {
  .button-solid {
    --box-shadow: none !important;
    --color: gray;
    text-transform: capitalize;
  }
}
.button-back__wrapper {
  position: static;
}
.calendar-day-active::after {
  background: yellow;
}
ion-datetime {
  --background-rgb: rgb(0,0,0)
}
